/* Allgemeine Anpassungen  */
body, html {
    height: 100%;
    margin: 0;
    
    background-color: #2b2b2b;
    color: #DFD1C2;
}

* {
    box-sizing: border-box;
}

h1.title {
    color: #DFD1C2;
}

.label {
    color: #DFD1C2;
}

strong {
    color: #DFD1C2;
}

/* Transparente Buttons */
.button.is-transparent {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
    color: #ffffff;
    margin: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.button.is-transparent:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #000000;
}

.button.is-transparent.back {
    margin: 0px;
}

/* Timeline Styles */
.timeline .timeline-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: #654729;
}


.timeline .timeline-marker {
    background-color: #6D5440;
    border: none;
}

.timeline .timeline-header, .timeline .timeline-date {
    color: #654729;
}

.timeline .timeline-date {
    background-color: #A38463;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
}

.timeline .timeline-content {
    color: #ffffff;
}

.tag.is-medium.is-primary {
    background-color: #6D5440 !important; /* Anpassung der Tag-Farbe */
    color: #ffffff !important;
}





    .table td {
        background-color: #A38463;
    }

    input, select {
        background-color: #A38463;
        color: #DFD1C2;
    }

    .button {
        background-color: #654729;
        color: #ffffff;
    }

    .button.is-primary {
        background-color: #654729;
        border-color: transparent;
        color: #ffffff; /* Primärer Button Textfarbe */
    }

    .button.is-link {
        background-color: #654729;
        color: #DFD1C2;
    }

    .button.is-info {
        background-color: #654729;
        color: #654729;
    }

    .button.is-success {
        background-color: #6D5440;
        color: #ffffff;
    }

    .button.is-warning {
        background-color: #654729;
        color: #ffffff;
    }

    .button.is-danger {
        background-color: #CFB9A1;
        color: #654729;
    }

    .timeline .timeline-marker {
        background-color: #DFD1C2;
    }

    .timeline .timeline-header, .timeline .timeline-date {
        color: #DFD1C2;
    }

    .timeline .timeline-date {
        background-color: #6D5440;
    }


/* Tabellenstile */
.table {
    border-collapse: separate;
    border-spacing: 0 15px; /* Abstand zwischen den Zeilen */
    /*background-color: #2b2b2b; /* Tabellenhintergrundfarbe */
    background-color: transparent; /* Setzt die Hintergrundfarbe auf transparent */

}

.table th {
    background-color: #6D5440;
    padding: 10px;
    border-color: transparent;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table td {
    background-color: #A38463;
    color: #FFFFFF;
    padding: 10px;
    border: none;
}

.table tbody tr {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.table tbody tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Hinzufügen des Hover-Effekts */
.table tbody tr:hover td {
    background-color: #6D5440; /* Dunklerer Braunton für den Hover-Effekt */
    color: #FFFFFF; /* Textfarbe ändern, falls nötig */
}

.header {
    background-color: #654729;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Eingabefelder */
input, select {
    color: #ffffff;
    background-color: #654729; /* Eingabefelder Hintergrundfarbe */
    border: 1px solid #ffffff;
}

input::placeholder {
    color: #aaaaaa;
}

/* Button-Farben */

.button.is-link {
    background-color: #DFD1C2; /* Link Button Hintergrundfarbe */
    border-color: transparent;
    color: #654729; /* Link Button Textfarbe */
}

.button.is-info {
    background-color: #654729; /* Info Button Hintergrundfarbe */
    border-color: transparent;
    color: #ffffff; /* Info Button Textfarbe */
}

.button.is-success {
    background-color: #CFB9A1; /* Erfolgs Button Hintergrundfarbe */
    border-color: transparent;
    color: #654729; /* Erfolgs Button Textfarbe */
}

.button.is-warning {
    background-color: #6D5440; /* Warnung Button Hintergrundfarbe */
    border-color: transparent;
    color: #ffffff; /* Warnung Button Textfarbe */
}

.button.is-danger {
    background-color: #654729; /* Gefährlich Button Hintergrundfarbe */
    border-color: transparent;
    color: #ffffff; /* Gefährlich Button Textfarbe */
}

/* Medienanfragen für Responsivität */
@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

    input, select, .button {
        font-size: 1rem;
    }

    .table th, .table td {
        font-size: 0.875rem;
    }
}

/* Hintergrundbild */
.background-container {
    background-image: url('app_bg.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed; /* Ändern zu fixed, damit das Bild nicht scrollt */
    width: 100%;
    filter: blur(0);
    transition: filter 0.7s;
}

/* Menücontainer */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 20%;
}

.menu-container .button {
    width: 80%;
}



/* Blurry Animation */
.background-container.blurry-bg {
    filter: blur(8px);
}

.content-container {
    position: absolute;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; */
    width: 100%;
    z-index: 2;
}


#contentSection {
    background-color: rgba(0, 0, 0, 0.4); /* Schwarzer Hintergrund mit Durchsichtigkeit */
}

#menuContainer {
    background-color: rgba(0, 0, 0, 0.6); /* Schwarzer Hintergrund mit Durchsichtigkeit */
    padding-top: 20px;
}

