body {
    font-family: 'Arial', sans-serif;
    color: #654729; /* Textfarbe */
    padding: 10px;
    background-color: #DFD1C2; /* Hintergrundfarbe */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.section {
    flex: 1;
}

#purchaseSection {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ffffff;
}

table thead {
    background-color: #A38463; /* Tabellenkopf Hintergrundfarbe */
}

table tr:nth-child(even) {
    background-color: #CFB9A1; /* Gerade Zeilen Hintergrundfarbe */
}

table tr:nth-child(odd) {
    background-color: #DFD1C2; /* Ungerade Zeilen Hintergrundfarbe */
}

table tr:hover {
    background-color: #654729; /* Hover-Effekt Hintergrundfarbe */
    color: #ffffff; /* Textfarbe bei Hover */
}

input, select {
    color: #ffffff;
    background-color: #654729; /* Eingabefelder Hintergrundfarbe */
    border: 1px solid #ffffff;
}

input::placeholder {
    color: #aaaaaa;
}

.button {
    margin-top: 15px;
    background-color: #6D5440; /* Button Hintergrundfarbe */
    color: #ffffff; /* Button Textfarbe */
}

.button.is-primary {
    background-color: #A38463; /* Primärer Button Hintergrundfarbe */
    border-color: transparent;
    color: #ffffff; /* Primärer Button Textfarbe */
}

.button.is-link {
    background-color: #DFD1C2; /* Link Button Hintergrundfarbe */
    border-color: transparent;
    color: #654729; /* Link Button Textfarbe */
}

.button.is-info {
    background-color: #654729; /* Info Button Hintergrundfarbe */
    border-color: transparent;
    color: #ffffff; /* Info Button Textfarbe */
}

.button.is-success {
    background-color: #CFB9A1; /* Erfolgs Button Hintergrundfarbe */
    border-color: transparent;
    color: #654729; /* Erfolgs Button Textfarbe */
}

.button.is-warning {
    background-color: #6D5440; /* Warnung Button Hintergrundfarbe */
    border-color: transparent;
    color: #ffffff; /* Warnung Button Textfarbe */
}

.button.is-danger {
    background-color: #654729; /* Gefährlich Button Hintergrundfarbe */
    border-color: transparent;
    color: #ffffff; /* Gefährlich Button Textfarbe */
}

.field.is-horizontal .field-label {
    align-self: center;
}

.field.is-horizontal .field-body {
    flex-grow: 1;
    flex-basis: 0;
}

@media (max-width: 768px) {
    .field.is-horizontal .field-label {
        text-align: left;
    }

    .field.is-horizontal .field-body {
        margin-top: 0;
    }

    .field.is-horizontal .field {
        margin-bottom: 1rem;
    }

    .columns.is-mobile .column {
        flex-basis: 100%;
        max-width: 100%;
    }

    .button.is-fullwidth {
        width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }

    input, select, .button {
        font-size: 1rem;
    }

    table th, table td {
        font-size: 0.875rem;
    }

    #orderTable {
        margin-top: 20px;
    }

    #totalAmount {
        font-size: 1rem;
    }
}

.field.is-grouped {
    display: flex;
    align-items: center;
}

.field.is-grouped .control {
    margin-right: 1rem;
}

#totalAmount {
    margin-top: 20px;
}

/* Timeline Styles */
.timeline {
    margin-top: 20px;
}

.timeline .timeline-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: #654729;
}

.timeline .timeline-item {
    padding-left: 0;
}

.timeline .timeline-marker {
    background-color: #6D5440;
    border: none;
}



.timeline .timeline-header, .timeline .timeline-date {
    color: #654729;
}

.timeline .timeline-date {
    background-color: #A38463;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
}

.tag.is-medium.is-primary {
    background-color: #6D5440 !important; /* Anpassung der Tag-Farbe */
    color: #ffffff !important;
}

/* Dark Mode Unterstützung */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2b2b;
        color: #DFD1C2;
    }

    table thead {
        background-color: #654729;
    }

    table tr:nth-child(even), table tr:nth-child(odd) {
        background-color: #A38463;
    }

    table tr:hover {
        background-color: #654729;
        color: #ffffff;
    }

    input, select {
        background-color: #A38463;
        color: #DFD1C2;
    }

    .button {
        background-color: #654729;
        color: #ffffff;
    }

    .button.is-primary {
        background-color: #DFD1C2;
        color: #654729;
    }

    .button.is-link {
        background-color: #654729;
        color: #DFD1C2;
    }

    .button.is-info {
        background-color: #CFB9A1;
        color: #654729;
    }

    .button.is-success {
        background-color: #6D5440;
        color: #ffffff;
    }

    .button.is-warning {
        background-color: #654729;
        color: #ffffff;
    }

    .button.is-danger {
        background-color: #CFB9A1;
        color: #654729;
    }
    .timeline .timeline-marker {
        background-color: #DFD1C2;
    }



    .timeline .timeline-header, .timeline .timeline-date {
        color: #DFD1C2;
    }

    .timeline .timeline-date {
        background-color: #6D5440;
    }
}
